{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Article List</title>
      <link rel="stylesheet" href= "{%static '/styles.css/'%}">
   </head>
   <body>
      <header class="wrapper">
         <!-- in articles:mainlist articles help in getting us know that the mainlist
               belong to the article app not other and here mainlist is the name of list urls in urls.py-->
         <h1><a href="{% url 'home' %}"><img src="{% static 'logo.png' %}" alt="Hard Luck"></a></h1>
         <nav>
            <ul>
               {% if user.is_authenticated %}
                  <li>
                     <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                     </form>
                  </li>
                  <li><a href="{% url 'articles:create' %}" class="highlight">New Article</a></li>
               {% else %}
                  <li><a href="{% url 'accounts:login' %}">Login</a></li>
                  <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
               {% endif %}
            </ul>
         </nav>
      </header>
      <div class="wrapper">
         {% block content %}
         {% endblock %}
      </div>
   </body>
</html>
